@page "/Calculator"
@using IncomeGoalTracker.Core.Models.Data

<h3>Calculator</h3>

<EditForm Model="@calc" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudCard>
            <MudCardContent>
                <MudNumericField Label="Income Goal (After taxes)" @bind-Value="calc.IncomeGoal" For="@(() => calc.IncomeGoal)"/>
                <MudNumericField Label="Savings Goal (Amount after budget)" @bind-Value="calc.SavingsGoal" For="@(() => calc.SavingsGoal)" />
                <MudNumericField Label="Share Percentage" @bind-Value="calc.SharePercentage" For="@(() => calc.SharePercentage)" />
                <MudNumericField Label="Tax Percentage" @bind-Value="calc.Taxpercentage" For="@(() => calc.Taxpercentage)" />
                <MudNumericField Label="Average Billable Per Hour" @bind-Value="calc.AverageBillablePerClient" For="@(() => calc.AverageBillablePerClient)" />
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Calculate</MudButton>
            </MudCardActions>
        </MudCard>
    </MudGrid>
</EditForm>

@if(calcComplete)
{
    <MudText>Clients Needed for Budget: @clientsNeededForBudget</MudText>
    <MudText>Clients Needed with Savings: @clientsNeededWithSavings</MudText>
    <MudText>Estimated Take Home per client: @postDeductionHourly</MudText>
}

@code {
    IncomeCalculation calc = new IncomeCalculation();
    bool calcComplete = false;
    int clientsNeededForBudget = 0;
    int clientsNeededWithSavings = 0;
    decimal averageTaxHome = 0;
    decimal postDeductionHourly = 0.00m;

    public void OnValidSubmit()
    {
        postDeductionHourly = (calc.AverageBillablePerClient * calc.SharePercentage) * calc.Taxpercentage;
        clientsNeededForBudget = (int)Math.Ceiling(calc.IncomeGoal / postDeductionHourly);
        clientsNeededWithSavings = (int)Math.Ceiling((calc.IncomeGoal + calc.SavingsGoal) / postDeductionHourly);
        calcComplete = true;
    }
}
